* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #ECECEC;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

a {
    color: #ECECEC;
    text-decoration: none;
}
h1, h2, h3 {
    margin: 20px 0;
    font-weight: 700;
}


/* styling header/nav */

header {
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
}

header h1 {
    font-size: 22px;
    text-decoration: none;
}

header nav {
    font-weight: 500;
}

header nav a {
    padding: 6px 32px;
    border: #ECECEC solid 1.5px;
    border-radius: 5px;
    margin: 0 2px;
}

header nav a:first-child {
    font-weight: 600;
    background-color: #212121;
}

header nav a:last-child:hover {
    font-weight: 600;
}

/* main */

main {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    text-align: center;
}