* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #ECECEC;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    margin: 20px 0;
    font-weight: 700;
}

a {
    color: #ECECEC;
    text-decoration: none;
}

/* styling header/nav */

header {
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
}

header h1 {
    font-size: 22px;
    text-decoration: none;
}

header nav {
    font-weight: 500;
}

header nav a {
    padding: 6px 32px;
    border: #ECECEC solid 1.5px;
    border-radius: 5px;
    margin: 0 2px;
}

header nav a:first-child {
    font-weight: 600;
    background-color: #212121;
}

header nav a:last-child:hover {
    font-weight: 600;
}

/* stying main */

main {
    margin: 100px auto;
    width: 80%;
    text-align: center;
}

main span {
    display: block;
}

.button {
    width: 140px;
    height: 140px;
    border: #ECECEC 2px solid;
    border-radius: 10px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}

#grey {
    background: #808080;
}

#black {
    background: #212121;
}

#blue {
    background: #000080;
}

#yellow {
    background: #fcb001;
}